<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand m-lg-2" routerLink="/">Game</a>

  <div class="navbar-expand">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/" class="nav-link">All games</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/createGame" class="nav-link">Create new game</a>
      </li>
    </ul>
  </div>
</nav>
